<label for="cars">Choose a car:</label>

<select name="cars" id="cars">
  <option value="audi">Audi</option>
  <option value="jaguar">Jaguar</option>
  <option value="land rover">Land Rover</option>
  <option value="renault">Renault</option>
</select>
<br><br>

<label for="class">Choose a Class:</label>

<select name="class" id="class">
  <option value="a-class">A-Class</option>
  <option value="b-class">B-Class</option>
  <option value="c-class">C-Class</option>
</select>
<br><br>

<label for="model">Model Name:</label>
<input type="text" id="model" name="model" required>
<br><br>

<label for="code">Model Code:</label>
<input type="text" id="code" name="code" required maxlength="10">
<br><br>

<label for="desc">Description:</label>
<input type="text" id="desc" name="desc" required>
<br><br>

<label for="features">Features:</label>
<input type="text" id="features" name="features" required>
<br><br>

<label for="price ">Price:</label>
<input type="text" id="price" name="price" required>
<br><br>

<label for="dom">Date of Manufacturing:</label>
<input type="date" id="dom" name="dom">
<br><br>

<label for="active">Active:</label>
<input type="radio" name = "ans" value="yes"> Yes 
<input type="radio" name = "ans" value="no"> No 
<br><br>

<label for="sort">Sort-order:</label>
<input type="number" id="sort" name="sort" min="1" max="5">
<br><br>

<input type="submit" value="Submit">

<input type="submit" value="Submit">
